Flask
configparser
pyserial
crcmod
pyowm==2.10.0
pytz
pyopenssl==24.1.0
twilio
chump
paho-mqtt==1.6.1
smbus
pysnmp==5.1.0
ldap3
pyasn1==0.4.8
pyotp
smbus
psutil
spidev
bleson
fluids
voipms==0.2.5
RPi.GPIO