Flask
configparser
pyserial
crcmod
pyowm==2.10.0
pytz
pyopenssl
twilio
chump
paho-mqtt==1.6.1
smbus
# pysnmp is fixed at this version to support python 3.7. pysnmp 7.1.22 dropped support for python 3.9
pysnmp==5.1.0
ldap3
# pysan1 is fixed at 0.4.8 due to pysnmp 5.1.0 requiring pyasn1 < 0.5.0
pyasn1==0.4.8
pyotp
webauthn>=2.0
smbus
psutil
spidev
bleson @ git+https://github.com/TheCellule/python-bleson
# This breaks on 32 bit trixie and takes a long time on slower systems like the pi3 and pi zero 
# so I am removing it from the base install
#fluids
voipms==0.2.5
RPi.GPIO
aiohttp
zeroconf
