Flask
configparser
pyserial
crcmod
pyowm
pytz
pyopenssl
twilio
chump
paho-mqtt
# pysnmp is fixed at this version to support python 3.9. pysnmp 7.1.22 is the last version to support  python 3.9 
pysnmp==7.1.21
ldap3
# pysan1 is fixed at 0.6.1 due to pysnmp 7.1.21 requiring pyasn1 < 0.6.1
pyasn1==0.6.1
pyotp
webauthn>=2.0
psutil
# This breaks on 32 bit trixie and takes a long time on slower systems like the pi3 and pi zero 
# so I am removing it from the base install
#fluids
voipms==0.2.5
aiohttp
zeroconf

