Flask
configparser
pyserial
crcmod
pyowm==2.10.0
pytz
pyopenssl
twilio
chump
paho-mqtt==1.6.1
pysnmp==5.1.0
ldap3
pyasn1==0.4.8
pyotp
psutil
# This breaks on 32 bit trixie and takes a long time on slower systems like the pi3 and pi zero 
# so I am removing it from the base install
#fluids
voipms==0.2.5

