/* style sheet for "A4" printing */
@media print and (width: 21cm) and (height: 29.7cm) {
    @page {
       margin: 2cm;
    }
}
 /* style sheet for "letter" printing */
@media print and (width: 8.5in) and (height: 11in) {
    @page {
        margin: .8in;
    }
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: Arial;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    font-family: Arial;
}

.printRegisterTD {
    border:5px solid white;
    background-color: #AAAAAA;
    vertical-align:top;
    padding:5px;
    background-clip: padding-box; /* this has been added in CSS3 */
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial;
}

.printRegisterTD table {
    border:2px solid #AAAAAA;
    height:100%;
}

.printRegisterTDtitle {
    font-weight: bold;
    font-family: Arial;
    border-bottom: 1px solid #444444;
    font-size:20px;
    height:50px;
}

.printRegisterTDsubtitle {
    border-bottom: 1px solid #444444;
    font-weight: bold;
    font-family: Arial;
    font-size:16px;
}

.printRegisterTDvalMedium {
    font-weight: bold;
    font-family: Arial;
    font-size:18px;
}

.printRegisterTDvalSmall {
    font-weight: bold;
    font-family: Arial;
    font-size:16px;
}

.pagebreak {
    page-break-before: always;
}
