/* BEGIN RESET*/
html, body, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, td, tr,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* BEGINNING: HTML 5 reset for older browsers */
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END: HTML 5 reset for older browsers */
input, select, textarea {
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
    margin:0;
    padding:.15em;
    border:1px solid #999;
    outline:0;
    border-radius:3.01px;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius:3.01px;
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.15);
}
body {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
    background-color: white;
    margin: 0;
    /*    overflow: hidden; */
    height:100%;
}
html {
    height:100%;
    /* overflow: hidden; */
}
a {
    font-style: italic;
}
h1 {
    font-style: italic;
    font-size: 20px;
}
p {
    font-size: 18px;
}
button {
    font-weight: bold;
    font-size: 16px;
    border-radius: 3.01px;
    border: 0;
    margin: 0 0 0 .5em;
    font-family: inherit;
    line-height: 1em;
    padding: .75em .75em;
    background: #bbbbbb;
    cursor:pointer;
}
ul {
    list-style-type: none;
}
li:hover img{
    -webkit-filter: invert(100%) !important;
}
li a {
    display: block;
    color: #000;
    padding: 8px 8px;
    text-decoration: none;
    vertical-align: middle;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a.activealarm {
    background-color: #DE0F0F;
    color: white;
}

li a.activeexercise {
    background-color: #415BDA;
    color: white;
}

li a.activeoff {
    background-color: #160101;
    color: white;
}

li a.activemanual {
    background-color: #BAADAD;
    color: white;
}
li a.activerun {
    background-color: #2E5D5A;
    color: white;
}
li a.activerunmanual {
    background-color: #14423F;
    color: white;
}

li a.activeservice {
    background-color: #d6b744;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Icons */

.alert_large, .alert_small, .log, .maintenance, .monitor, .notifications, .outage, .print10, .print24, .print60, .registers, .remove_bin, .settings, .status, .temp1, .temp2, .temp3, .temp4, .title-bg, .validation_ok, .validation_text, .wifi1, .wifi2, .wifi3, .wifi4, .fuel, .about, .addon, .journal{
	background: url(images/sprites.png) no-repeat;
}

.alert_large{
	background-position: -317px -22px ;
	width: 64px;
	height: 64px;
}

.alert_small{
	background-position: -156px -163px ;
	width: 28px;
	height: 28px;
}

.log{
	background-position: -18px -115px ;
	width: 20px;
	height: 20px;
}

.maintenance{
	background-position: -263px -118px ;
	width: 20px;
	height: 20px;
}

.monitor{
	background-position: -165px -116px ;
	width: 20px;
	height: 20px;
}

.notifications{
	background-position: -214px -116px ;
	width: 20px;
	height: 20px;
}

.outage{
	background-position: -114px -113px ;
	width: 20px;
	height: 20px;
}

.print10{
	background-position: -107px -157px ;
	width: 36px;
	height: 36px;
}

.print24{
	background-position: -56px -156px ;
	width: 36px;
	height: 36px;
}

.print60{
	background-position: -9px -155px ;
	width: 36px;
	height: 36px;
}

.registers{
	background-position: -70px -112px ;
	width: 20px;
	height: 20px;
}

.remove_bin{
	background-position: -210px -164px ;
	width: 24px;
	height: 24px;
}

.settings{
	background-position: -266px -63px ;
	width: 20px;
	height: 20px;
}

.status{
	background-position: -216px -63px ;
	width: 20px;
	height: 20px;
}

.temp1{
	background-position: -160px -60px ;
	width: 28px;
	height: 28px;
}

.temp2{
	background-position: -111px -59px ;
	width: 28px;
	height: 28px;
}

.temp3{
	background-position: -60px -60px ;
	width: 28px;
	height: 28px;
}

.temp4{
	background-position: -12px -61px ;
	width: 28px;
	height: 28px;
}

.title-bg{
	background-position: -154px -124px ;
	width: 1px;
	height: 28px;
}

.validation_ok{
	background-position: -266px -19px ;
	width: 16px;
	height: 16px;
}

.validation_text{
	background-position: -218px -21px ;
	width: 16px;
	height: 16px;
}

.wifi1{
	background-position: -159px -12px ;
	width: 28px;
	height: 28px;
}

.wifi2{
	background-position: -108px -11px ;
	width: 28px;
	height: 28px;
}

.wifi3{
	background-position: -60px -11px ;
	width: 28px;
	height: 28px;
}

.wifi4{
	background-position: -12px -11px ;
	width: 28px;
	height: 28px;
}

.fuel{
	background-position: 0 -206px ;
	width: 400px;
	height: 189px;
}

.about{
	background-position: -314px -166px ;
	width: 20px;
	height: 20px;
}

.addon{
	background-position: -264px -166px ;
	width: 20px;
	height: 20px;
}

.journal{
	background-position: -314px -117px ;
	width: 20px;
	height: 20px;
}


/* Addons */

.linux_small, .mqtt_small, .rpi_small, .slack_small, .twilio_small, .pushover_small, .linux, .mqtt, .pushover, .rpi, .slack, .twilio, .sms, .sms_small, .csv_small, .csv, .selftest, .selftest_small, .Genmon, .Genmon_small, .text, .text_small{
 background: url(images/addons.png) no-repeat;
}

.linux_small{
	background-position: -263px -355px ;
	width: 50px;
	height: 25px;
}

.mqtt_small{
	background-position: -269px -333px ;
	width: 50px;
	height: 12px;
}

.rpi_small{
	background-position: -398px -362px ;
	width: 50px;
	height: 15px;
}

.slack_small{
	background-position: -461px -361px ;
	width: 50px;
	height: 15px;
}

.twilio_small{
	background-position: -463px -330px ;
	width: 50px;
	height: 17px;
}

.pushover_small{
	background-position: -334px -362px ;
	width: 50px;
	height: 13px;
}

.linux{
	background-position: -1px -173px ;
	width: 252px;
	height: 125px;
}

.mqtt{
	background-position: -258px -72px ;
	width: 252px;
	height: 62px;
}

.pushover{
	background-position: -255px 0;
	width: 252px;
	height: 63px;
}

.rpi{
	background-position: 0 -93px ;
	width: 252px;
	height: 76px;
}

.slack{
	background-position: -257px -146px ;
	width: 252px;
	height: 77px;
}

.twilio{
	background-position: -256px -231px ;
	width: 252px;
	height: 83px;
}

.sms{
	background-position: 0 0;
	width: 252px;
	height: 84px;
}

.sms_small{
	background-position: -332px -331px ;
	width: 50px;
	height: 17px;
}

.csv_small{
	background-position: -395px -330px ;
	width: 50px;
	height: 18px;
}

.csv{
	background-position: 0 -305px ;
	width: 252px;
	height: 93px;
}

.selftest{
	background-position: 0 -403px ;
	width: 252px;
	height: 77px;
}

.selftest_small{
	background-position: -461px -384px ;
	width: 50px;
	height: 15px;
}

.Genmon{
	background-position: -260px -415px ;
	width: 252px;
	height: 57px;
}

.Genmon_small{
	background-position: -400px -386px ;
	width: 50px;
	height: 11px;
}

.text{
	background-position: -261px -501px ;
	width: 252px;
	height: 217px;
}

.text_small{
	background-position: -199px -503px ;
	width: 50px;
	height: 43px;
}


/* Classes */

.greyscale {
   -webkit-filter: grayscale(1); /* Webkit */
   filter: gray; /* IE6-9 */
   /* @alternate */ filter: grayscale(1); /* W3C */
}

.regHistoryCanvas {
    height:280px;
    width:250px;
    overflow-x:hidden;
    overflow-y:hidden;
}
.regHistoryCanvasTop {
    height:250px;
    width:250px;
    vertical-align:top;
}
.regHistoryCanvasBottom {
    height:30px;
    width:250px;
    vertical-align:bottom;
}
.regHistoryPlot {
     height:250px;
     width:250px;
     overflow-x:hidden;
     overflow-y:hidden;
}
.regHistoryPlotCell {
     height:250px;
     width:330px;
     overflow-x:hidden;
     overflow-y:hidden;
}
.regHistory {
    text-decoration: underline;
    display: inline;
    cursor: pointer;
}
.regHistory.selection {
    text-decoration: none;
}
.gaugeField {
    text-align: center;
    /* border:15px solid white;  */
    background-color: #e1e1e1;
    vertical-align:bottom;
    background-clip: padding-box; /* this has been added in CSS3 */
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.gaugeCanvas {
    width:100%;
    height:65%;
}
.gaugeDiv, .jsonVal {
    display:inline
}
.plotField {
    text-align: center;
    /* border:15px solid white;  */
    background-color: #e1e1e1;
    vertical-align:bottom;
    background-clip: padding-box; /* this has been added in CSS3 */
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.kwPlotCanvas {
    height:70%;
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
}
.kwPlotText {
    font-size:10px
}
.kwPlotSelection {
    text-decoration: underline;
    display: inline;
    cursor: pointer;
}
.kwPlotSelection.selection {
    text-decoration: none;
}
.grid {
     margin:10px;
}
.grid-sizer,
.grid-item {
     width: 180px;
}
.grid-item {
     float: left;
     height: 200px;
     background: #FFFFF;
     border: 0px;
}
/* Draggabilly adds is-dragging */
.grid-item.is-dragging,
.grid-item.ui-draggable-dragging,
/* Packery adds class while transitioning to drop position */
.grid-item.is-positioning-post-drag {
  background: #FFFFFF;
  z-index: 2; /* keep dragged item on top */
}
.packery-drop-placeholder {
  outline: 3px dashed #444;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

.registerTD {
    border:5px solid white;
    background-color: #AAAAAA;
    vertical-align:bottom;
    padding:5px;
    background-clip: padding-box; /* this has been added in CSS3 */
    border-radius: 10px;
}
.registerTD table {
    border:2px solid #AAAAAA;
    height:100%;
}
.registerTDtitle {
    border-bottom: 1px solid #444444;
    font-size:12px;
}
.registerTDsubtitle {
    border-bottom: 1px solid #444444;
    font-size:11px;
}
.registerTDvalMedium {
    font-size:14px;
}
.registerTDvalSmall {
    font-size:11px;
}
.confirmSmall {
    font-size:12px;
}
.progress-bar {
    width: calc(100% - 6px);
    height: 13px;
    background: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}
.progress-bar-fill {
    display: block;
    height: 6px;
    background: #4CAF50;
    border-radius: 3px;
    transition: width 10s ease-in-out;
}
.removeRow {
    cursor: pointer;
}
.tripleButtonLeft {
    margin:0px;
    border-radius: 3px 0px 0px 3px;
}
.tripleButtonCenter {
    margin:0px;
    border-radius: 0px;
    border-right:1px solid #000000;
    border-left:1px solid #000000;
}
.tripleButtonRight {
    margin:0px;
    border-radius: 0px 3px 3px 0px
}
.notificationEmail {
    width: 300px;
    padding:8px 8px;
}
.printButton {
    cursor: pointer;
}

.card {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 6px;
    width: 360px;
}

.aboutInfo {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    position: relative;
    margin: 0.5rem 0 1rem 0;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 6px;
    font-size: 16px;
    width: 50%;
    background-color: #f1f1f1;
}

#mydisplay {
    padding: 10px;
}

#myDiv {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#navMenu {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

#myheader, #footer {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    background-color: #f1f1f1;
    text-align: center;
    vertical-align: middle;
}

#myheader {
    font-size: 20px;
    height: 30px;
}

#footer {
    font-size: 15px;
    height: 30px;
}

#footer.alert {
    background-color: #ffcccc;
}

#myheader td {
    vertical-align: middle;
}

#footer td {
    vertical-align: middle;
}

#allnotifications td {
    padding: 3px;
}

#allsettings td {
    padding: 3px;
}
