<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <title>{{ title }}</title>
    <!-- Menu -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
    <!-- Removed header and footer from here as they are usually part of the body structure -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='internal.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <header id="myheader"></header> <!-- Moved header here -->
    <h1>{{ title }}</h1>
    <p id="mydisplay"></p>
    <script type="text/javascript" src="{{ url_for('static', filename='internal.js') }}"></script>
    <footer id="footer"></footer> <!-- Moved footer here -->
</body>

</html>
